{
  "presets": ["env", "react", "stage-0"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [
            {
              "transform": "react-transform-catch-errors",
              "imports": ["react", "redbox-react"],
              "locals": ["module"]
            }
          ]
        }
      ]
    ]}
  }
}